<% if @comic.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@comic.errors.count, 'error') %>:</b>
      <ul>
        <% @comic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @comic, :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>

    <!-- isbn -->
    <div class="form-group">
      <%= f.label :isbn, :class => 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :isbn, :class => 'form-control' %>
      </div>
    </div>

    <!-- title -->
    <div class="form-group">
      <%= f.label :title, :class => 'col-md-2 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
    </div>

    <!-- authors -->
    <div class="form-group" data-no-turbolink>
      <%= f.label :authors, :class => 'col-md-2 control-label' %>
      <div class="col-md-7" data-no-turbolink>
        <%= f.text_field :author_names, :class => 'form-control with_autocomplete', 'data-autocompleteUrl' => autocomplete_author_name_comics_path %>
        <span class="help-block">
          <%= t '.authors_help' %>
        </span>
      </div>
    </div>

    <!-- cover -->
    <div class="form-group">
      <%= f.label :cover, :class => 'col-md-2 control-label' %>
      <div class="col-md-7">
        <div class="thumbnail">
          <%= f.hidden_field :cover_cache %>
          <%= image_tag (@comic.cover.medium.url), :class => 'img-thumbnail' if @comic.cover? %>
          <div class="caption">
            <%= f.file_field :cover %>
          </div>
        </div>
      </div>
    </div>


    <!-- available -->
    <div class="form-group">
      <%= f.label :available, :class => 'col-md-2 control-label' %>
      <div class="col-md-10">
        <label>
          <%= f.check_box :available, :class => 'form-control' %>
        </label>
      </div>

    </div>

    <!-- tags -->
    <div class="form-group">
      <%= f.label :tag_list, t("tag_list_edit", :default =>"Tags (separated by commas)") ,  :class => 'col-md-2 control-label' %>

      <div class="col-md-10">
        <%= f.text_field :tag_list, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= link_to 'Annuler', root_path, :class => 'btn btn-default' %>
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>



<% end %>