<!-- Navigation -->
<ul class="nav nav-tabs">
  <li class="<%= active_link == 'titles' ? 'active' : '' %>"><%= link_to 'Titles', comics_path(sort_by: 'titles') %></li>
  <li class="<%= active_link == 'authors' ? 'active' : '' %>"><%= link_to 'Authors', comics_path(sort_by: 'authors') %></li>
  <li class="<%= active_link == 'collections' ? 'active' : '' %>"><%= link_to 'Collections', comics_path(sort_by: 'collections') %></li>
</ul>