<div class="thumb">
  <div class="panel panel-default">

    <div class="<%= comic.available ? 'panel-body' : 'panel-body unavailable' %>">

      <% if comic.cover? %>
          <%= image_tag (comic.cover.small.url), :class => 'img-rounded'%>
      <% else %>
          <div class="no-picture no-picture-small">
            <span class="glyphicon glyphicon-question-sign"></span>
          </div>
      <% end %>

      <!-- Comic title -->
      <h5>
        <%= link_to comic.title, comic_path(comic) %>
      </h5>

      <!-- Authors -->
      <p>
        <%= display_authors(comic.authors) %>
      </p>

      <% if can? :create, Loan %>
        <div class="pull-right">
          <% if comic.available %>
            <%= link_to t('NewLoan'), new_loan_path(:item => comic), :class => 'btn btn-success'%>
          <% else %>
            <%= link_to t('Return'),loan_path(comic.loans.where(returned: false).first!), :class => 'btn btn-success', :method => :put%>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>