<% content_for :title, 'All comics' %>
<% content_for :navbar_link, 'comics'%>



<div class="page-title">
  <h1>
    <% if can? :create, Comic %>
        <div class="pull-right">
          <%= link_to 'New comic', new_comic_path, :class => 'btn btn-success'%>
        </div>
    <% end %>
    Comics
    <%= link_to '', comics_path(:display => 'list'), :class => 'btn glyphicon glyphicon-list' %>
    <%= link_to '', comics_path(:display => 'grid'), :class => 'btn glyphicon glyphicon-th' %>
  </h1>

</div>

<%= render partial: 'index_nav', locals: {active_link: 'titles'} %>

<%= render partial: "comics/#{params[:display]?params[:display]:'grid'}", locals: {comics: Comic.all.paginate(:page => params[:page]), paginate:true} %>

