<% content_for :title, t('.page_tite', model: t(@loan.item.type) ) %>
<% content_for :navbar_link, 'loans'%>


<div class="page-header">
  <h1><%= t('.title', item: @loan.item.title)%> </h1>
</div>

<%= form_for @loan, :html => {:class => 'form-inline', :role => 'form' } do |f| %>
    <%= f.hidden_field :item_id %>

    <strong><%= t('.fomule', item: @loan.item.title) %> </strong>

    <div class="form-group">
      <label class="sr-only" for="user">User</label>
      <%=collection_select(:loan, :user_id, User.registered, :id, :email, {}, {:class=>'form-control', :id => 'user'})%>
    </div>
    <%= link_to 'Annuler', root_path, :class => 'btn btn-default' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
