<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) + ' | Librarian' : 'Librarian' %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<!-- Top primary navBar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to 'Librarian', root_path, :class => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <% if current_user and current_user.role.name == 'admin' %>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Loans', loans_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-left">
        <%= yield :user_navigation %>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_tag search_comics_url, method: :get do %>
              <p>
                <%= text_field_tag :query, params[:query], :class => 'search' %>
                <%= submit_tag 'Search', name: nil, :class => 'button' %>
              </p>
          <% end %>
        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- Main content -->
<div id="main-content">

  <!-- Messages and alerts -->
  <div class="messages">
    <div class="container">
      <div class="row">
        <% if notice %>
            <div class="alert alert-dismissable alert-info">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= notice %>
            </div>
        <% end %>
        <% if alert %>
            <div class="alert alert-dismissable alert-danger">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= alert %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <!-- Display page content -->
      <div class="col-md-12">
        <%= yield %>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- main-content -->

<!-- Site footer -->
<div id="footer">
  <div class="container">
    <hr/>
    <p><a href="http://github.com/mathieu/Librarian">Librarian</a> &copy; 2013</p>
  </div>
</div>

</body>
</html>
